@model loginRegistration.Models.Login

<body>
    <h1>Enter your information</h1>
 
       <table>
       <form asp-controller="UserLogin" asp-action="login" method="post">

 <tr> <td>  <span asp-validation-for="Email"></span></td>
    <td><label >Email</label></td>
    <td><input asp-for="Email"/></td></tr>
 <tr> <td>  <span asp-validation-for="Password"></span></td>
  <td> <label>Password</label></td> 
 <td>  <input asp-for="Password"/></td></tr>
 <tr> <td> </td><td> <button type="submit">Login</button></td></tr>
</form>
</table>


       </body>