@model RESTauranter.Models.Restaurant;

<h1>Write a new Review: </h1>


<form asp-controller="Home" asp-action="addRev" method="post">
    <table>

        <tr>
            <table>
                <tr>
                    <td>
                        <label>Reviewer Name:</label>
                    </td>
                    <td>
                        <input asp-for="ReviewerName" />

                    </td>
                    <td> Stars:
                        <select asp-for="Stars">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <span asp-validation-for="ReviewerName"></span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <span asp-validation-for="RestaurantName"></span>
                    </td>
                    <td colspan="2">
                        <label>Restaurant Name: </label>
                    </td>
 
                    <td colspan="3">

                        <input asp-for="RestaurantName" />
                    </td>


                </tr>
            </table>
        </tr>


        <tr>
            <td>
                <label>Review: </label>
            </td>
            <td>
                <textarea asp-for="Review" cols="60" rows="5"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <span asp-validation-for="Review"></span>
            </td>
        </tr>

        <tr>
            <td>
                <label>Date of visit: </label>
                <input type="date" asp-for="DateOfVisit" />
            </td>
            <td></td>
        </tr>
        <tr>
            <td> </td>
            <td>
                <button type="submit">Submit</button>
            </td>
    </table>
</form>