<body>
    <h1>Dojo Servey</h1>
        <div id="container1">
            <table>
            <form action="method" method="post">
               <tr> <td><label>Your Name:</label></td>
                <td><input type="text" name="name" /></td></tr>
                <tr><td>
                <label>Dojo Location: </label></td><td>
                <select name="location">
                    <option>Mountain View</option>
                    <option>Chicago</option>
                    <option>Seatle</option>
                    <option>Washington DC</option>
                </select></td></tr>
                <tr><td>
                <label>Favorite Language: </label></td><td>
                <select name="language">
                    <option>JavaScript</option>
                    <option>Python</option>
                    <option>HTML/CSS</option>
                    <option>C#</option>

                </select></td></tr><tr><td>
                <label>Comments (Optional):</label></td><td>
                <textarea name="comment" id="comment"></textarea></td></tr>
                <tr><td></td><td>
                <input type="submit" value="Submit" /></td></tr>
            </table>
            
            
            
            
            
            </form>
          
    

        </div>
</body>